@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap");
@import url("./_var.css");

* {
  font-family: "Inter Tight", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-links);
}

body,
html {
  width: 100%;
  height: 100%;
  display: flex;
}

/* html {
  position: fixed;
} */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
}

.nav__left > h2 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.nav__middle {
  display: flex;
  gap: 30px;
}

.nav__right {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.nav__right > button {
  background-color: black;
  color: white;
  height: 40px;
  border: none;
  outline: none;
  width: 100px;
  border-radius: 120px;
  transition: ease-in-out;
  cursor: pointer;
}

.nav__right > button:hover {
  transform: scale(1.15);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
}

footer {
  border-top: 1px solid black;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
}

footer > .footer_section > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.address > p {
  margin: 0;
}

.hero_button {
  display: flex;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  outline: none;
  padding: 10px 20px;
  border-radius: 50em;
  cursor: pointer;
  transition: ease-in-out;
}

.hero_button:hover {
  transform: scale(1.1);
}

#hero > h1 {
  font-size: 45px;
}
#slogan {
  font-size: x-large;
}

.active {
  color: black;
  font-weight: bold;
}

.call_to_action {
  outline: none;
  border: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 120px;
  height: 50px;
  font-size: large;
  cursor: pointer;
}

.testimonials > h2 {
  text-align: center;
  font-size: 40px;
}

.testimonials_cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.testimonials_cards > div {
  height: 250px;
  width: 300px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 2px 4px 10px #f4f4f4;
  cursor: pointer;
}

.avatar_img {
  border-radius: 100%;
}

#features {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 2px solid #000;
  margin-bottom: 30px;
}

.features_row {
  display: flex;
  gap: 20px;
  flex: 1 1;
}

#pricing_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#pricing_header > h2 {
  font-size: 45px;
}

#pricing_header > p {
  font-size: large;
}

#pricing_cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 30px;
}

.pricing_card {
  background-color: #f4f4f4;
  height: 400px;
  width: 300px;
  border: 2px solid gray;
  padding: 10px 20px;
  border-radius: 8px;
}
